.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}
.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: right;
    font-style: italic;
    padding-right: 5em;
}

.links{
    text-decoration: none;
}

.maintitle{
    padding: 5rem;
    background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
}


.aboutText{
    padding-left: 8em;
}

.footer {
    border-radius: 5px;
    background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
    text-align: center;
}
