.contact {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.links{
    text-decoration: none;
}

.maintitle{
    outline: 0.5px solid #f56476;
}


.aboutText{
    padding: 8em;
}

.footer {
    outline: 0.5px solid #f56476;
    text-align: center;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}