.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainTitle{
    outline: 0.5px solid #f56476;
    height: 100%;
    max-height: 90vh;
}

.aboutText{
    padding-left: 8rem;
}

.bagel{
    float: right;
    mix-blend-mode: screen;
    width: 28.19094rem;
    height: 26.319rem;
}

.aboutUs{
    height: 100%;
    max-height: 90vh;
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
}

.aboutUsText{
    color: white;
    text-align: right;
}

.arya{
    outline: 0.5px solid #f56476;
    float: left;
}

.aryaPhoto{
    float: right;
    mix-blend-mode: screen;
    width: 28.19094rem;
    height: 26.319rem;
}

.aryaText{
    color: white;
    text-align: center;
}

.cohen{
    outline: 0.5px solid #f56476;
    float: left;
}

.cohenPhoto{
    float: right;
    width: 28.19094rem;
    height: 26.319rem;
}

.saraang{
    outline: 0.5px solid #f56476;
    float: left;
}

.saraangPhoto{
    float: right;
    width: 28.19094rem;
    height: 47rem;
}

.song{
    outline: 0.5px solid #f56476;
    float: left;
}

.songPhoto{
    float: right;
    width: 28.19094rem;
    height: 35rem;
}

.sophia{
    outline: 0.5px solid #f56476;
    float: left;
}

.sophiaPhoto{
    float: right;
    width: 28.19094rem;
    height: 36rem;
}

.sam{
    outline: 0.5px solid #f56476;
    float: left;
}

.samPhoto{
    float: right;
    width: 28.19094rem;
    height: 36rem;
}

.footer{
    outline: 0.5px solid #f56476;
    text-align: center;
}