.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.mainTitle{
    outline: 0.5px solid #f56476;
    height: 90vh;
    position: relative;
}

.TitleText{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5rem;
    width: 50%;
}

.TitleWords{
    margin-left: 10rem;
}

.TitleText h1{
    margin: 0;
}

.TitleText h3{
    margin: 0;
}

.bagel{
    mix-blend-mode: screen;
    position: absolute; bottom: 5%; right: 5%;
    height: 50rem;
    max-height: 50%;
}

.sphere {
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 5rem;
    height: 50rem;
    max-height: 60%;
}

.aboutUs{
    height: 90vh;
    outline: 0.5px solid #f56476;
    position: relative;
    color: white;
}

.aboutUsWords{
    margin-left: 50%;
    width: 45%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 960px) {
  .mainTitle {
    width: 100%;
  }
}

@media only screen and (min-width: 3400px) {
    .container {
        width: 60%;
    }
    
    .mainTitle {
        height: 60%;
    }

    .bagel {
        position: absolute;
    }
}

.people {
    width: 100%;
}

.people img {
    outline: 3px solid white;
    float: right;
    width: 300px; height: 337px; object-fit: scale-down;
}

.personleft img{
    height: 90vh;
    outline: 3px solid white;
    float: right;
    object-fit: scale-down;
}

.personright img{
    height: 90vh;
    outline: 3px solid white;
    float: left;
    object-fit: scale-down;
}

.personleft {
    outline: 0.5px solid #f56476;
    text-align: left;
    float: left;
    width: 100%;
}

.personright {
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
    width: 100%;
}

.persontext {
    outline: 0.5px solid #f56476;
    width: 40em;
    font-size:22px;
}

.footer{
    outline: 0.5px solid #f56476;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}