.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainTitle{
    outline: 0.5px solid #f56476;
    height: 100%;
    max-height: 90vh;
}

.aboutText{
    padding-left: 8rem;
}

.bagel{
    float: right;
    mix-blend-mode: screen;
    width: 28.19094rem;
    height: 26.319rem;
}

.aboutUs{
    height: 100%;
    max-height: 90vh;
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
}

.aboutUsText{
    color: white;
    text-align: right;
}

.arya{
    outline: 0.5px solid #f56476;
    text-align: left;
    float: left;
}

.aryaPhoto{
    outline: 3px solid white;
    float: right;
    width: 300px; height: 337px; object-fit: scale-down;
}

.aryaText{
    color: white;
    text-align: center;
}

.cohen{
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
}

.cohenPhoto{
    outline: 3px solid white;
    float: left;
    width: 300px; height: 337px; object-fit: scale-down;
}


.song{
    outline: 0.5px solid #f56476;
    text-align: left;
}


.songPhoto{
    outline: 3px solid white;
    float: right;
    width: 300px; height: 337px; object-fit: scale-down;
}

.saraang{
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
}

.saraangPhoto{
    outline: 3px solid white;
    float: left;
    width: 300px; 
    height: 337px; 
    object-fit: scale-down;
}
.sophia{
    outline: 0.5px solid #f56476;
    text-align: left;
}

.sophiaPhoto{
    outline: 3px solid white;
    float: right;
    width: 300px; height: 337px; object-fit: scale-down;
}

.sam{
    outline: 0.5px solid #f56476;
    float: right;
    text-align: right;
}

.samPhoto{
    outline: 3px solid white;
    float: left;
    width: 300px; height: 337px; object-fit: scale-down;
}

.footer{
    outline: 0.5px solid #f56476;
    text-align: center;
}