.links{
    font-size: 1.9em;
    font-style: italic;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainTitle{
    outline: 0.5px solid #f56476;
    height: 100%;
    max-height: 90vh;
}

.project1{
    outline: 0.5px solid #f56476;
    float: left;
    text-align: left;
}

.project1photo{
    float: right;
    width: 200px;
    height: auto;
}

.project2{
    outline: 0.5px solid #f56476;
    float: left;
    text-align: left;
}

.project2photo{
    width: 200px;
    height: auto;
    float: right;
}

.footer{
    outline: 0.5px solid #f56476;
    text-align: center;
}