@import url('https://fonts.googleapis.com/css2?family=Cabin&family=League+Spartan&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #fcf3f6;
}


h1 {
  color: white;
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: white;
}