@import url('https://fonts.googleapis.com/css2?family=Cabin&family=League+Spartan&family=Roboto+Mono&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  background-color: #fcf3f6;
}


h1 {
  font-size: 80px;
  color: white;
  line-height: 0px;
}

h2 {
  font-size: 20px;
  color: white;
  line-height: 2px;
}

h3 {
  font-size: 18px;
  color: white;
}